.body {
    margin: 0;
}

.screen {
    background: #f1f1f1;
    padding: 60px 0;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    width: 1230px;
}

.zagolovok {

}

.zagolovok_img {
    position: relative;
    left: 90px;
    top: 10px

}

.zagolovok__text1 {
    font-size: 10px;
    font-family: "Raleway";
    color: rgb(169, 174, 179);
    font-weight: none;
    text-transform: uppercase;
    line-height: 1.333;
    position: relative;
    left: 150px;
    top: -40px;
}

.zagolovok__text2 {
    font-size: 10px;
    font-family: "Raleway";
    color: rgb(169, 174, 179);
    font-weight: none;
    text-transform: uppercase;
    line-height: 1.333;
    position: relative;
    left: 150px;
    top: -40px;

}

.zagolovok__nomer_1 {
    font-size: 24px;
    font-family: "Arial";
    color: rgb(30, 39, 49);
    font-weight: bold;
    line-height: 0.75;
    position: relative;
    left: 65px;
    top: -15px

}

.zagolovok__nomer_2 {
    font-size: 24px;
    font-family: "Arial";
    color: rgb(30, 39, 49);
    font-weight: bold;
    line-height: 0.75;
    position: relative;
    left: 88px;
    top: -15px;

}

.zagolovok__knopka1 {

    position: relative;
    left: 250px;
    top: -7px

}

.zagolovok__knopka2 {
    position: relative;
    left: 270px;
    top: -7px
}

.zagolovok_liniy_1 {
    position: relative;
    top: 4px;

}

.zagolovok_liniy_2 {
    position: relative;
    top: 7.5px;
}

.zagolovok__menu {
    font-size: 17px;
    font-family: "Raleway";
    color: rgb(29, 35, 42);
    font-weight: bold;
    line-height: 1.059;
}

.zagolovok__menu1 {
    position: relative;
    left: 90px;
    top: 5px;
}

.zagolovok__menu2 {
    position: relative;
    left: 130px;
    top: 5px
}

.zagolovok__menu3 {
    position: relative;
    left: 170px;
    top: 5px
}

.zagolovok__menu4 {
    position: relative;
    left: 210px;
    top: 5px
}

.zagolovok__menu5 {
    position: relative;
    left: 240px;
    top: 5px
}

.zagolovok__menu_poiskovik {
    font-size: 12px;
    font-family: "Raleway";
    color: rgb(155, 159, 161);
    line-height: 1.5;
    background-color: rgb(229, 233, 235);
    border: 14px solid rgb(229, 233, 235);
    position: relative;
    left: 600px;
    top: 5px;

}

#ekran {
    background-color: rgb(242, 242, 242)
}

#nachalo {
    background-image: url("Фон.png");
    background-repeat: no-repeat;
    background-color: #e2e4e8;
    background-size: contain;
    background-size: auto;
}

.nachalo__text1 {
    font-size: 30.541px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.375;
    text-align: center;
    -moz-transform: matrix(0.85132591176891, 0, 0, 0.85132591176895, 0, 0);
    -webkit-transform: matrix(0.85132591176891, 0, 0, 0.85132591176895, 0, 0);
    -ms-transform: matrix(0.85132591176891, 0, 0, 0.85132591176895, 0, 0);
    position: relative;
    top: 50px
}

.nachalo__liniy {
    width: 59px;
    height: 1px;
    position: relative;
    top: 40px

}

.nachalo__text2 {
    font-size: 50.401px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.156;
    text-align: center;
    -moz-transform: matrix(0.89284176820382, 0, 0, 0.89284176820382, 0, 0);
    -webkit-transform: matrix(0.89284176820382, 0, 0, 0.89284176820382, 0, 0);
    -ms-transform: matrix(0.89284176820382, 0, 0, 0.89284176820382, 0, 0);
    position: relative;
    top: 40px

}

.nachalo__text2orange {
    color: #ffc821;
}

.nachalo__knopka_1 {
    font-size: 21px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.619;
    text-align: center;
    background-image: url("Кнопка.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    top: 40px

}

.nachalo__text_3 {
    font-size: 36px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.083;
    text-align: center;
    letter-spacing: 2px;
    background-position: center;
    background-image: url(рамка.png);
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    padding-top: 150px;
    padding-bottom: 330px;

}

.nachalo__text__podtext {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.083;
    text-align: center;
    letter-spacing: 2px;

}

.nachalo__oborudovanie_zapchasti {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(14, 13, 13);
    font-weight: bold;
    text-decoration: underline;
    line-height: 2.333;
    text-align: center;
    background-image: url(Запчасти.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 250px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 27.5px;
    left: 75px;

}

.nachalo__oborudovanie_zip {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(14, 13, 13);
    font-weight: bold;
    text-decoration: underline;
    line-height: 2.333;
    text-align: center;
    background-image: url(ЗИП.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 250px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 27.5px;
    left: 140px;

}

.nachalo__oborudovanie_grohota {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(14, 13, 13);
    font-weight: bold;
    text-decoration: underline;
    line-height: 2.333;
    text-align: center;
    background-image: url(Грохота.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 250px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 27.5px;
    left: 180px;

}

.nachalo__oborudovanie_konveer {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(14, 13, 13);
    font-weight: bold;
    text-decoration: underline;
    line-height: 2.333;
    text-align: center;
    background-image: url(Конвейеры.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 250px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 27.5px;
    left: 190px

}

.nachalo__katalog {
    font-size: 21px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    line-height: 1.619;
    position: relative;
    left: 460px;
    top: 40px;

}

.nachalo__knopka_2 {
    font-size: 21px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.619;
    text-align: center;
    background-image: url("Кнопка.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-top: 80px;

}

.uslugi__zagolovok {
    font-size: 36px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0.944;
    text-align: center;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.footer__menu {
    padding: 0;
    margin: 0;
}

.footer__menu-item {
    float: left;
    list-style: none;
}

.footer__menu-link {
    color: #000000;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
}

.fotter__menu3 {
    position: relative;
    left: 170px;
    top: 5px;
}

.fotter__menu4 {
    position: relative;
    left: 210px;
    top: 5px;
}

.fotter__menu5 {
    position: relative;
    left: 240px;
    top: 5px;
}

.footer__info {
    background-color: #23292f;
}

.footer__info_img {
    position: relative;
    top: 30px;
    left: 60px
}

.footer__info_adress1 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(216, 220, 222);
    line-height: 1.286;
    position: relative;
    top: -90px;
    left: 60px;
}

.footer__info_adress2 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(216, 220, 222);
    line-height: 1.286;
    position: relative;
    top: -75px;
    left: -66px;
}

.footer__karta {
    background-image: url(ramka-knopki.png);
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    left: -298px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 20px;
    padding-top: 12px;
}

.footer__karta_img {
    position: relative;
    left: -15px;
}

.footer__karta_text {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(216, 220, 222);
    line-height: 1.5;
}

.footer__info_text1 {
    font-size: 9px;
    font-family: "Raleway";
    color: rgb(169, 174, 179);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;
    position: relative;
    top: -95px;
    left: -200px;
}

.footer__info_nomer1 {
    font-size: 19px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.526;
    position: relative;
    left: -278px;
    top: -68px;
}

.footer__info_text2 {
    font-size: 9px;
    font-family: "Raleway";
    color: rgb(169, 174, 179);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;
    position: relative;
    top: -45px;
    left: -445px;
}

.footer__info_nomer2 {
    font-size: 19px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.526;
    position: relative;
    left: -542px;
    top: -18px;
}

.footer__info_text3 {
    font-size: 9px;
    font-family: "Raleway";
    color: rgb(169, 174, 179);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;
    position: relative;
    top: -96px;
    left: -450px;
}

.footer__info_nomer3 {
    font-size: 19px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.526;
    position: relative;
    left: 782px;
    top: -98px;
}

.footer__info_zvonok {
    background-image: url(Кнопка.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 90%;
    left: 840px;
    top: -99px;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer__info_zvonok_text {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.footer__info_sms {
    background-image: url(ramka-knopki.png);
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
    left: 615px;
    top: -45px;
    padding-left: 55px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer__info_smsk {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(216, 220, 222);
    line-height: 1.5;
}

.footer__ap {
    background-color: #23292f;
    text-align: center;
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(90, 99, 111);
    line-height: 1.714;
}
